﻿@model Web.Views.Shared.Components.CategoryTreeView.CategoryViewComponentModel

<ul class="list-group">

    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item">

            <div class="d-flex justify-content-between">
                <a class="" asp-action="Index" asp-route-categoryId="@category.Id"> @category.Name</a>
            </div>

            @if (category.Children.Count > 0)
            {
                @await Component.InvokeAsync("CatalogNaviagation", new
                {
                    Categories = category.Children,
                    IsFirstCall = false
                })

            }

        </li>

    }

</ul>