﻿@model Web.Models.ProductVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="productBlock">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="SelectedCategories"></label>
                    <select asp-for="SelectedCategories" asp-items="@Model.Categories" class="custom-select w-100"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            <div class="ImagesBlock bg-light p-3">
                <h5>Product images  <a asp-action="Create" asp-controller="ProductImage" asp-route-productId="@Model.Id" class="btn btn-info float-right">Add image</a></h5>

                @if (Model.Images.Count > 0)
                {
                    <div class="row">
                        @foreach (var img in Model.Images)
                        {
                            <div class="card col-md-2" >
                            <img class="card-img-top" src="@img.Url"/>
                            <div class="card-body">
                                <a asp-action="Edit" asp-controller="ProductImage" asp-route-id="@img.Id" class="btn btn-primary">Edit</a>

                            </div>
                        </div>
                        }
                    </div>
                }

            </div>
            <div class="variationBlock p-3"> 
                <h5>Product variations  <a asp-action="Create" asp-controller="Varioation" asp-route-productId="@Model.Id" class="btn  btn-info float-right">Add variation</a></h5>

                @if (Model.Variations.Count > 0)
                {
                    <ul>
                        @foreach (var variation in Model.Variations)
                        {
                            <li><a asp-controller="Varioation" asp-action="Details" asp-route-id="@variation.Id">@variation.Article : @variation.Description </a></li>
                        }
                    </ul>
                }

            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



