﻿@model ProductIndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-3">
        <a asp-action="Index">All products</a>
        @await Component.InvokeAsync("CatalogNaviagation", new
        {
            categories = Model.Categories,
            isFirstCall = true
        })
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card">
                        @{
                            var urlImg = "../images/no-product-image.png";
                            if (@product.Images.Count > 0)
                            {
                                urlImg = @product.Images.First().Url;
                            }
                           
                        }
                        <img class="card-img-top w-75 m-auto" src="@urlImg" alt="Card image cap" height="220">
                        <div class="card-body">
                            <span></span>
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>

                        </div>
                        @if (@product.Variations != null)
                        {
                            <ul class="list-group list-group-flush">
                                @foreach (var variation in @product.Variations)
                                {
                                    <li class="list-group-item">
                                        article: @variation.Article Цена: @variation.Price.ToString("0") rub <br/>
                                        <span>@variation.Description</span>
                                    </li>
                                }

                            </ul>
                        }
                        <div class="card-body">
                            Отзывы: @product.Comments.Count шт.
                        </div>
                        <div class="card-body">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="card-link">Edit</a>
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="card-link">Details</a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>