﻿@model IEnumerable<ApplicationCore.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@await Component.InvokeAsync("CategoryTreeView", new {categories = Model, isFirstCall = true})

