﻿@model Web.Views.Shared.Components.CategoryTreeView.CategoryViewComponentModel

<ul class="list-group">
    @foreach (var category in Model.Categories)
    {

        <li class="list-group-item">

            <div class="d-flex justify-content-between">
                <div class="TypeName"> @category.Name</div>
                <div class="actions">
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Category"  asp-route-id="@category.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Category"  asp-route-id="@category.Id">Delete</a>
                </div>
            </div>


            @if (category.Children != null)
            {
                @await Component.InvokeAsync("CategoryTreeView", new { Categories = category.Children, IsFirstCall = false })
            }

        </li>

    }

</ul>